### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio


# Intellij idea specific git ignore
*.iml
.idea/
*.iws

# Eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath


### Maven
target
log


### NPM
node_modules
jspm_packages
typings
bin
compiled
npm-debug.log*
logs
*.log