<div class="panel panel-default top-panel to-right">
    <div class="panel-heading">
        <h4>
            <i class="fa fa-angle-right"></i> {{ 'tariff' | translate }}
        </h4>


        <!-- BILLS TABLE -->
        <div class="content-panel">
            <table class="table table-striped table-advance table-hover">
                <thead>
                <!-- table headers -->
                <tr>
                    <th class="sorting">{{'name' | translate}}<span class="fa fa-fw fa-sort pull-right"></span></th>
                    <th class="sorting">{{'tariff' | translate}}<span class="fa fa-fw fa-sort pull-right"></span></th>
                    <th class="sorting">{{'units' | translate}}<span class="fa fa-fw fa-sort pull-right"></span></th>
                    <th class="sorting">{{'provider' | translate}}<span class="fa fa-fw fa-sort pull-right"></span></th>
                </tr>
                </thead>
                <tbody>
                 <!--table body -->
                <div *ngIf="servicesMap.length === 0" class="text-center not-found-search-elem-center">
                <h5>Немає результатів пошуку</h5>
                </div>
                <tr *ngFor="let service of servicesMap">
                    <td><a (click)="displaySub(service)">
                        <span> {{service.service.name}} <span class="caret animated"></span> </span></a>
                        <br>
                            <ul *ngIf="service.displaySub">
                                <li *ngFor="let sub of service.subServices">{{sub.name}}</li>
                                <li role="separator" class="divider"></li>
                            </ul>
                    </td>
                    <td>{{service.service.tariff }}
                        <br>
                            <ul *ngIf="service.displaySub">
                                <li *ngFor="let sub of service.subServices">{{sub.tariff}}</li>
                                <li role="separator" class="divider"></li>
                            </ul>
                    </td>
                    <td>{{service.service.unitsOfMeasurement}}
                        <br>
                            <ul *ngIf="service.displaySub">
                                <li *ngFor="let sub of service.subServices">{{sub.unitsOfMeasurement}}</li>
                                <li role="separator" class="divider"></li>
                            </ul>
                    </td>
                    <td>{{service.service.provider?.name}}
                        <br>
                            <ul *ngIf="service.displaySub">
                                <li *ngFor="let sub of service.subServices">{{sub.provider?.name}}</li>
                                <li role="separator" class="divider"></li>
                            </ul>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
